.bar { position: absolute; left: 50%; border-radius: 999px; }
.form { top: 1799du; width: 295du; height: 12du; margin-left: -147.5du; background: #B6B3AE; }
.list { top: 1809du; width: 271du; height: 12du; margin-left: -135.5du; background: #9BA0A7; }
